html
{
    margin:0;
    padding:0;
}
body
{
    font-family: 'Basic', sans-serif;
    font-size: 18px;
    margin:0;
    padding:0;
    width:640px;
    height:100%;
    margin:auto;
    background:white;
}
#wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 17px;
    margin-top: 10px;
}

/* Sliders */
.sliders {
    margin-top: 4px;
}

.sliderDiv
{
    display:flex;
    justify-content: space-between;
    align-items:baseline;
    margin-bottom: 0px;
}

.val 
{
    font-size:24px;
    font-family: 'Basic', serif;
    font-weight: 400;
    margin-right: 10px;
}
.slider 
{
    width: 380px;
    border-radius: 5px;
    height: 1em;
    padding-bottom: 8px;
    margin-bottom: -3px;
}

.slider:focus {
    outline: none;
}
.slider::-moz-range-thumb 
{
    width: 0.5em;
    height: 0.95em;
    border-radius: 8px;
    border: 2px solid black;
}
 
.slider::-moz-range-track 
{
    width: 100%;
    border-radius: 1em;
    padding-top: 5px;
}
#urlContainer 
{
	display:flex;
	justify-content:center;

	padding-top:0.8em;
	padding-bottom:0.8em;
	height:1.35em;

	position:relative;
	z-index:1;
}
#url {

	z-index:999;
	
	font-size: 1em;
	font-family: 'Basic', sans-serif;
	font-style: normal;
	color: navy;
	text-align: center;
	white-space: nowrap;
	text-overflow:ellipsis;
}
#refreshBtn
{
	position:absolute;
	bottom:-4px;
	opacity:0;
	z-index:2;
	
	cursor: context-menu;
	font-size:1em;
	font-weight:normal;
	color:navy;
	border: 2px solid navy;
	margin-bottom: -10px;
}
#size-sliders
{
	border-left: 1px solid rgb(160, 160, 160);
	border-radius: 1em;
	margin-top:0.2em;
	margin-bottom:0.2em;
	padding-left:1em;
	
	display:flex;
	flex-direction:column;
	align-content:center;
}

/*Checkboxes*/
#checksContainer {
    margin-top:0.2em;
    display:flex;
    flex-flow: row wrap;
    justify-content:space-between;
    font-size:0.97em;
    margin-bottom: -0.34em;
}
.separator{
    margin-right:0.1em;
    width:46%;
    margin-top:0.7em;
}
.separator div {
    margin-top:0.1em;
}
#sep{
    margin-left:0.1em;
    width:49%;
}

/*Buttons/checkmarks*/

button,
input[type='button'],
select {
    font-size: 15px;
    max-height: 32px;
    cursor: pointer;
    text-align: center;
    font-family:"Basic";
    font-weight:normal;
    border-radius: 4px;
    transition: background-color 0.1s ease-out;
    color:black;
    background-color: #eee;
    border: 0.15em solid black;
}
button:hover,
input[type='button']:hover {
    color: white;
    background-color: black;
}
#refreshBtn:hover 
{
    transition: color ease-out 0.1s;
    transition: background-color ease-out 0.1s;
    color:white;
    background-color:navy;
}
#optionsBtn
{
    width:104px;
    align-self:flex-end;
    margin-top: -32px;
}
input[type='checkbox'] {
	height: 0;
	width: 0;
	visibility: hidden;
}
.container {
	cursor: pointer;
	width: 30px;
	height: 18px;
	background: #000;
	display: block;
	border-radius: 20px;
	position: relative;
	margin-top: -19px;
	float: right;
}
input:checked ~ .checkmark:after {
	margin-left: 10px;
}
.checkmark:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 4px;
	width: 12px;
	height: 12px;
	background: #fff;
	border-radius: 12px;
	background-image:url('../../assets/icons/circle.svg');
	background-repeat: no-repeat;
	background-size: 12px 12px;
	background-position: 0px 0px;
}
input:checked ~ .checkmark:after {
	position: absolute;
	background-image:url('../../assets/icons/circle.svg');
	background-repeat: no-repeat;
	background-size: 12px 12px;
	background-position: 11px 0px;
	background-color: #0f0;
	color: #fff;
	width: 22px;
	left: -6px;
	top: 3px;
}

.option label:first-child {
    display: block;
    cursor: pointer;
}
